<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>url</key>
		<string>mapi/home/LoadData</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Goods/List</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsCategory/ListAll</string>
	</dict>
	<dict>
		<key>url</key>
		<string>m/Goods/JsonDetail</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/login</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/school/search</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/favorite/add</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/favorite/remove</string>
	</dict>
	<dict>
		<key>url</key>
		<string>common/sms/SendVerifyCode</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/register</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Goods/Add</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/LoadBaseData</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/cert</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/Update</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/MyGoods</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/List</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/MySysMessages</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/MyMessages</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Goods/AddReview</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Goods/SetStatus</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/MyFavorites</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/MyGoodsInNeed</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/GetScore</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/Add</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/SetStatus</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Goods/Update</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/JsonDetail</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/Update</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/DeleteGoods</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/MemberCenter/DeleteGoodsInNeed</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/SysMessages/UpdateIsRead</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/goods/Jubao</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/goods/ListJbReasons</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/Jubao</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/Function/List</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/message/SetAsRead</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/GoodsInNeed/AddReview</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/WxLogin</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/ResetPasswd?op=SendReq</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/member/ResetPasswd</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/CmsArticle/SinglePage</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/ScoreRecord/RuleDetail</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/feedback/post</string>
	</dict>
	<dict>
		<key>url</key>
		<string>mapi/SysMessages/AjaxCheckNewMessages</string>
	</dict>
</array>
</plist>
